body {
  margin: 0px;
}
#header {
  display: flex;
  align-items: center;
  padding: 5px 25px;
  color: white;
  background-color: black;
}

#logo img,
#profile img {
  width: 35px;
  border-radius: 50%;
}

#logo {
  width: 5%;
}
#search {
  width: 10%;
}

#search input {
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
}
#option {
  width: 25%;
}
#option > ul#list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

#option > ul#list > li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
#profile {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
}
/* 
#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
}

#container > * {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
} */
/* 
#container .div {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.h3 {
  flex: 7;
}

#container > div > p {
  flex: 3;
} */

#con {
  display: flex;
  width: 90%;
}

#profile {
  flex: 4;
}

#container {
  flex: 6;
  display: flex;
  flex-direction: row;
  gap: 20px;

  flex-wrap: wrap;
  justify-content: space-evenly;
}
#container > #card {
  width: 40%;
  padding: 10px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 5px;
}

#container > #card > h3 {
  width: 80%;
  /* margin-left: 5px; */
}

#container > #card > #vis {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  /* margin-right: 5px; */
}

#con > #container > #card > .lang {
  width: 100%;
  display: inline-block;
  justify-content: flex-start;
  /* margin: 5px; */
}
