body {
  margin: 0px;
}
#header {
  display: flex;
  align-items: center;
  padding: 5px 25px;
  color: white;
  background-color: black;
}

#logo img,
#profile img {
  width: 35px;
  border-radius: 50%;
}

#logo {
  width: 5%;
}
#search {
  width: 10%;
}

#search input {
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
}
#option {
  width: 25%;
}
#option > ul#list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

#option > ul#list > li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
#profile {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

#container > * {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
